---
import Layout from "../layouts/Layout.astro";

function orderByDate(d1,d2) {
  let n1= new Date(d1.frontmatter.date).getTime();
  let n2= new Date(d2.frontmatter.date).getTime();
    if (n1> n2) {
        return 1;
    }
    if (n1< n2) {
        return -1;
    }
    return 0;
}

let allPosts= await Astro.glob("./blogs/*.md")
allPosts = allPosts.sort(orderByDate)

function onlyDateForm(date:number){
  var newDate = new Date(date)
  return newDate.toDateString()
}

---

<Layout title="rip.rtx">
  <ul class="postslist">
    {
      allPosts.map((post) => (
        <a href={post.url}>
          <li>
            <div>{post.frontmatter.title}</div>
            {post.frontmatter.tags.includes("In Progress") ? <div>In Progress</div> : <div>{onlyDateForm(post.frontmatter.date)}</div>}
          </li>
        </a>
      ))
    }
  </ul>
</Layout>

<style>
  .postslist {
    margin: 1em 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  li {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    text-wrap: balance;
    transition: 0.1s;
  }
  li:hover {
    background: var(--select-bg-color);
    padding-left: 15px;
    text-decoration: underline;
  }
  @media screen and ((max-width: 800px)) {
    li {
      padding: 0.5em;
    }
    li:hover {
      background: var(--select-bg-color);
      padding-left: 0.5em;
      text-decoration: underline;
    }
  }
</style>
