<footer>
  <div class="footer-content">
    <p>&copy; (2023 - ) Renato Sanchez Loeza. All rights reserved.</p>
    <ul class="socials">
      <li>
        <a href="https://twitter.com/riprtx" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://linkedin.com/in/renato-sanchez-loeza" target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/renatosanz" target="_blank">GitHub</a>
      </li>
    </ul>
    <p>
      <a href="mailto:renato.sanchez3103@gmail.com"
        >renato.sanchez3103@gmail.com</a>
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: #281a15;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
  }
  footer * {
    margin: auto;
  }
  footer {
    padding: 20px;
    text-align: center;
  }
  .footer-content h2 {
    margin-top: 0;
  }
  .socials {
    list-style-type: none;
    padding: 0;
  }
  .socials li {
    display: inline;
    margin: 0 10px;
  }
</style>
