---

interface BlogPost{
  frontmatter: {
    tags: string [];
  }
}

const allPosts = import.meta.glob<BlogPost>("../pages/blogs/*.mdx");

let uniqueTags = [];

for (const post in allPosts) {
  let blogpost = await allPosts[post]();
  uniqueTags.push(blogpost.frontmatter.tags);
}
uniqueTags = [...new Set(uniqueTags.flat())]; // remove dups
const currentYear = new Date().getFullYear();
---

<footer>
  <ul>
    <li><a href="/">Home</a></li>
    {
      uniqueTags.map((tag) => (
        <a href={"/tags/" + tag}>
          <li>{tag}</li>
        </a>
      ))
    }
  </ul>
  <div>
    <p>&copy; {currentYear} Renato Sanchez. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    flex-direction: column;
    display: flex;
    gap: 0.5em;
    margin: 1em 0.5em;
  }
  div {
    margin: auto;
  }
  p {
    justify-content: center;
  }
  a {
    color: var(--font-color);
  }
  ul {
    display: flex;
    margin: auto 0 auto auto;
    text-decoration: none;
    list-style: none;
    gap: 0.5em;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  li {
    background: var(--background-secondary);
    padding: 0.5em;
    border-radius: 8px;
  }
  li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
</style>
