---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<nav>
  <div>
    <h1>{title}</h1>
    <ul class="social-links">
      <a
        href="https://github.com/renatosanz"
        class="social-links__entry"
        target="_blank"
      >
        <span>
          <i class="fa-brands fa-2x fa-github-alt"></i>
        </span>
      </a>
      <a
        href="https://x.com/riprtx"
        class="social-links__entry"
        target="_blank"
      >
        <span>
          <i class="fa-brands fa-2x fa-square-twitter"></i>
        </span>
      </a>
      <a
        href="https://www.behance.net/riprtx"
        class="social-links__entry"
        target="_blank"
      >
        <span>
          <i class="fa-brands fa-2x fa-square-behance"></i>
        </span>
      </a>
      <a href="/about" class="social-links__entry">
        <span>
          <i class="fa-solid fa-2x fa-circle-info"></i>
        </span>
      </a>
    </ul>
  </div>
</nav>

<style>
  nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--font-color);
  }
  h1 {
    margin: 0.5rem 0;
    color: var(--color-main);
    font-size: 3rem;
    font-family: "Lora", Courier, monospace;
  }
  a span{
    font-size: 25px;
    color: var(--font-color);
    transition: 0.1s;
  }
  a span:hover{
    color: var(--color-secondary);
  }
  ul{
    padding: 0;
  }
  nav div {
    padding: 0 0;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-links {
    margin: auto 0 1rem;
  }
  @media screen and (max-width: 800px) {
    div {
      flex-wrap: wrap;
    }
  }
</style>
