---
import MyTags from "../components/MyTags.astro";
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/icon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div id="main-section">
      <Navbar title={title} />
      <div>
        <p></p>
      </div>
      <section>
        <slot />
      </section>
      <MyTags />
    </div>
    <script
      src="https://kit.fontawesome.com/aa86d54169.js"
      crossorigin="anonymous"></script>
  </body>
</html>

<style is:global>
  :root {
    --background-main: #fefefe;
    --background-secondary: #cccccc;
    --font-color:#333333;
    --color-main: #ff5722;
    --color-secondary: #ffb99b;
  }
  html{
    font-family: "Lora", monospace;
    background: var(--background-main);
    color: var(--font-color);
  }
  code {
    font-family:
      "Courier New",
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  body {
    user-select: none;
    display: flex;
  }
  #main-section {
    margin: auto;
    padding-top: 6rem;
    width: 800px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  @media screen and (max-width: 800px) {
    #main-section {
      margin: auto;
      padding: 1rem;
      width: 100%;
    }
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --background-main: #121212;
      --background-secondary: #555555;
      --font-color: #fefefe;
    }
  }
</style>
